<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <title>CAT MBTI TEST</title>
</head>
<body>
    <div class="test-page" id="test-page">
        <div class="test-container" id="test-container">
            <progress id="test-progress" max="100" value="10"> 10% </progress>
            <div class="test-question" id="test-question">Q1. 어느날 갑자기 고양이로 변하면 어떨 것 같아?</div>
            <div class="test-answer">
                <div id="test-answer-1">말도 안되는 소리 하네. 그런 고민을 왜 해?</div>
                <div id="test-answer-2">우리집 앞 길냥이랑 무슨 얘기부터 하지? 고양이가 되면 뭘 먹고 살아? 상상 시작!</div>
            </div>
            <div id="result-page">
                <div id="mbti-result-title">mbti result</div>
                <div id="mbti-description">description</div>
                <div id="test-couple">
                    <div class="couple" id="goodcouple">환상의 궁합</div>
                    <div class="couple" id="badcouple">환장할 궁합</div>
                </div>
                <div class="test-share">
                    <button class="share-restart" id="share">친구에게 공유하기</button>
                    <button class="share-restart" id="restart"><a href="/index">처음부터 다시하기</a></button>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="/javascripts/index.js" type="text/javascript"></script>
</html>

